spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Esmelealem/cloud-config-server
          default-label: main
          clone-on-start: true
  profiles:
    #enable ssl validation and vault with git
          skip-ssl-validation: true
          active: git, vault
server:
  port: 8888

eureka:
 client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
 instance:
    hostname: localhost
